/node_modules
/public/hot
/public/storage
/public/img/*
/storage/*.key

# JetBrains, aka PHPStorm, IntelliJ IDEA
.idea/*
# NetBeans
nbproject/*
# Visual Studio Code
.vscode
# Sass preprocessor
.sass-cache/
# Composer files
/vendor
# Ignore .env files.
*.env
# Ignore MAC files.
*.DS_Store

.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
